.venv/
__pycache__/
*.pyc
.env
output/
schemas/*
!schemas/.gitkeep
!schemas/Banking/
!schemas/Banking/**
!schemas/Insurance/
!schemas/Insurance/**
!schemas/BIAN/
!schemas/BIAN/**
!schemas/Retail/
!schemas/Retail/**
# schemas.json/
